
header {
  border-bottom: 1px solid #ccc;
}
.main {
  width: 60%;
  margin: 0 auto;
}
.description {
  padding: 10px 0 20px 0;
}
.btn-play {
  margin-right: 0.5rem;
}
.not-supported {
  padding-top: 0.5rem;
}
